# DIGITAL TALENT 

Setelah mengikuti materi pertama ini peserta diharapkan dapat:
1. Menjalankan sintaks dasar python
2. Mengenal variabel serta mampu menggunakan variabel
3. Mengetahui jenis-jenis tipe data dalam python
4. Mengetahui jenis-jenis operator
5. Dapat menggunakan operator aritmetika, assignment, perbandingan, serta logika 
6. Memahami algoritma dari statement kondisi
7. Dapat menggunakan statement kondisi dalam kasus pemrograman

## Hello World !

In [18]:
print("Hello World")

Hello World

## Variabel 
Variabel adalah tempat menyimpan nilai sementara. Berikut adalah cara mendeklarasikan, menginisialisasi variabel dan memanggil variabel dalam python:

In [2]:
nama = "Guntur Budi Herwanto"
ph = 6

print(type(nama))
print(type(ph))

<class 'str'>
<class 'int'>

Nilai dalam variabel dapat diubah sewaktu waktu

In [3]:
nama = "Guntur Budi Herwanto"
nama = "Adiyo Hidayat"

print(nama)

Adiyo Hidayat

Kita juga bisa memberikan beberapa nilai pada variabel secara langsung

In [4]:
a, b, c = 5, 3.2, "Hello"

print (a)
print (b)
print (c)

5
3.2
Hello

In [5]:
x = y = z = 8

print (x)
print (y)
print (z)

8
8
8

## TIPE DATA
Dalam setiap nilai di variabel, terdapat sebuah tipe data tertentu. Pada python, terdapat beberapa tipe data:

- Numbers
- Strings
- Boolean
- List
- Tuple
- Set
- Dictionary

### Numbers
- Integer : Angka tanpa koma
- Float : Angka dengan Koma

In [6]:
a = 5
print(a, "mempunyai tipe", type(a))

a = 5.0
print(a, "mempunyai tipe", type(a))

5 mempunyai tipe <class 'int'>
5.0 mempunyai tipe <class 'float'>

### Boolean
Benar atau Salah?

In [7]:
a = 5>6
print(a, "mempunyai tipe", type(a))

a = 6>5
print(a, "mempunyai tipe", type(a))

False mempunyai tipe <class 'bool'>
True mempunyai tipe <class 'bool'>

### String
Kumpulan karakter

In [8]:
a = "Ini adalah sebuah string"
print(a, "mempunyai tipe", type(a))

Ini adalah sebuah string mempunyai tipe <class 'str'>

### List & Tuple & Dictionary
dibahas minggu depan

## Operator

### 1. Operator Aritmetika

| Operator | Arti                                                                                          | Contoh                  |
|----------|--------------------------------------------------------------------------------------------------|--------------------------|
| +        | Penambahan                                                                   | x + y                 |
| -        | Pengurangan                                              | x - y                  |
| *        | Perkalian                                                                            | x * y                    |
| /        | Pembagian                                 | x / y                    |
| %        | Modulo - Sisa Pembagian                                 | x % y (sisa pembagian of x/y) |
| //       | Pembagian dan dibulatkan ke bawah | x // y                   |
| **       | Eksponen - Pangkat                                             | x**y (x pangkat y)  |

In [9]:
x = 5
y = 4

print(x+y)
print(x/y)
print(x//y)
print(x*y)
print(x**y)

9
1.25
1
20
625

### 2. Operator Assignment
Pemberian Nilai, Updating Nilai

In [10]:
a = 5
b = 2
a = a + 6
print(a)
a = a * 5
print(a)
a = b + 3
print(a)

11
55
5

![alt text](https://www.freeiconspng.com/uploads/book-store-icon-31.png "Bookstore")

## LATIHAN


#### Pada keluaran buku terbaru, Harry Potter harga buku adalah Rp 100.000, tetapi toko buku mendapatkan diskon 40%. Pengiriman biaya Rp 9.000 untuk salinan pertama dan Rp 3.000 untuk setiap salinan tambahan. Berapa total biaya keseluruhan untuk pengiriman buku 60 eksemplar?

In [11]:
harga_buku = 300000
diskon = 20.0
ongkir_pertama = 8000
ongkir_selanjutnya = 1000
eksemplar = 6

harga_setelah_diskon = harga_buku * (100-diskon)/100
print(harga_setelah_diskon)

harga_ongkir = ongkir_pertama + ongkir_selanjutnya * (eksemplar-1)
print(harga_ongkir)

harga_total = harga_setelah_diskon * eksemplar + harga_ongkir
print("Harga Total = ",harga_total)

240000.0
13000
Harga Total =  1453000.0

### 3. Operator Perbandingan
| Operator | Meaning                 | Example |
|----------|-------------------------|---------|
| >        | Lebih Dari              | x > y   |
| <        | Kurang Dari             | x < y   |
| ==       | Sama Dengan             | x == y  |
| !=       | Tidak Sam Dengan        | x != y  |
| >=       | Lebih dari sama dengan  | x >= y  |
| <=       | Kurang dari sama dengan | x <= y  |

In [12]:
x = 10
y = 12

print('x > y  is',x>y)

print('x < y  is',x<y)

print('x == y is',x==y)

print('x != y is',x!=y)

print('x >= y is',x>=y)

print('x <= y is',x<=y)

x > y  is False
x < y  is True
x == y is False
x != y is True
x >= y is False
x <= y is True

### 4. Operator Logika

| Operator | Keterangan                         | Contoh  |
|----------|------------------------------------|---------|
| and      | True jika keduanya True            | x and y |
| or       | True jika salah satunya True       | x or y  |
| not      | not False = True; not True = False | not x   |

In [13]:
x = 5 == 5
y = 1 > 2


print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

# Statement Kondisi / Percabangan
Dalam pembuatan program, seringkali kita memiliki kondisi, jika..maka, contohnya: jika nilai hasil ujian > 90, maka calon peserta digital talent berhak mengikuti program beasiswa. Kondisi seperti ini dapat digambarkan dengan Flowchart seperti dibawah ini:

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/Python_if_statement.jpg "If Statement")

Berikut adalah sintaks dari kode program kondisional / percabangan.
Perhatikan Indentasi yang ada pada sintaks tersebut.

In [14]:
nilai = 8 # Coba dirubah menjadi 80
if nilai>=90:
    print("Lulus")

print("Selamat")
print("Program Selesai")

Selamat
Program Selesai

Dalam bahasa pemrograman Python, Indentasi sangatlah penting untuk menentukan blok kode sebuah program.

Selanjutnya, terdapat bentuk yang sedikit lebih kompleks, yaitu dengan menggunakan else:

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/Python_if_else_statement.jpg "If Else Statement")

In [15]:
nilai = 80 
if nilai>90:
    print("Lulus")
    print("Selamat")
else:
    print("Maaf Anda Belum Berhasil")
    
print("Program Selesai")

Maaf Anda Belum Berhasil
Program Selesai

Jika terdapat lebih dari satu kondisi dapat menggunakan elif (else if):

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/Python_if_elif_else_statement.jpg "If Else If Statement")

In [16]:
nilai = 65 
if nilai>=90:
    print("Lulus")
    print("Selamat")
elif nilai>80:
    print("Anda masuk ke waiting list")
elif nilai>60:
    print("Perbaikan")
else:
    print("Maaf Anda Belum Berhasil")
    
print("Program Selesai")

Perbaikan
Program Selesai

Percabangan juga bisa disarangkan pada percabangan, contoh:

In [17]:
nilai = 91
umur = 18

if nilai>90 and umur > 17:
    print("Selamat Anda Berhak Mengikuti Program Beasiswa")
elif umur<=17:
    print("Umur belum cukup")
else:
    print("Maaf Anda Belum Berhasil")
    
print("Program Selesai")

Selamat Anda Berhak Mengikuti Program Beasiswa
Program Selesai

![alt text](https://cdn.iconscout.com/icon/free/png-256/human-body-458026.png "Body")

## LATIHAN


Body Mass Index (BMI) menentukan sebuah keidealan berat badan terhadap tinggi badan. Berikut adalah formula dari BMI : BMI = weight (kg) ÷ height^2 (m^2)

Berikut adalah kategorisasi BMI

| BMI                 | Kategori BMI             |   |
|---------------------|---------------------------|---|
| Kurang dari 15        | Very severely underweight |   |
| Diantara 15 dan 16   | Severely underweight      |   |
| Diantara 16 dan 18.5 | Underweight               |   |
| Diantara 18.5 dan 25 | Normal (healthy weight)   |   |
| Diantara 25 dan 30   | Overweight                |   |
| Diantara 30 dan 35   | Moderately obese          |   |
| Diantara 35 dan 40   | Severely obese            |   |
| Over 40             | Very severely obese       |   |

Buatlah sebuah program yang memiliki dua variabel berat badan dengan satuan KG, dan tinggi badan dengan satuan CM, kemudian keluaran dari program adalah Kategori BMI

In [25]:
berat_badan = 83
tinggi_badan = 165
bmi = berat_badan / ((tinggi_badan^2)/100)
print(bmi)

49.70059880239521